
.dark-bg {
    background-color: #090D1F;
    color: #fff; 
}

.dark-bg h1 {
    color: #ffffff; 
    font-size: 230px;
    font-weight: bold;
}

.dark-bg h2 {
    color: #ffffff;
   }

.dark-bg h3 {
    color: #ffffff; 
}

.dark-bg a {
    color: #fff; 
}

.dark-bg p {
    color: #fff; 
}
.datePost{
    font-size: 14px;
    font-weight:700,;
    color: #6941C6
}


