/* @tailwind base;
@tailwind components;
@tailwind utilities;

body{

    font-family: 'Inter', sans-serif;
    
}


.dark-bg {
  background-color: #090D1F;
}

.light-bg {
  background-color: #FFFFFF; 
}
.header{
    padding: 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
     margin-bottom: 60px; 
    
}


li{
    list-style: none; 
}
a{
    text-decoration: none; 
    color: #000; 
    font-size: 20px;

}
.menu{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
    gap: 20px;
}

.header p {
    font-size: 20px;
    font-weight: 600;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adacac;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #75749e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



.content-title{
  padding: 140px;
  text-align: center;

}

.title{
   
    font-size: 243px;
    font-weight: bold;
    margin-bottom: 20px;
} */

/* light.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 230px;
    font-weight: bold;
}

/* Color personalizado para el tema claro */
.light-bg {
    background-color: #FFFFFF;
    color: #000; /* Cambia el color del texto para el modo claro si es necesario */
}

.header {
    padding: 30px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 60px; 
}

li {
    list-style: none; 
}

a {
    text-decoration: none; 
    color: #000; 
    font-size: 20px;
}

.menu {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
    gap: 20px;
}

.header p {
    font-size: 20px;
    font-weight: 600;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #adacac;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #75749e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ffffff;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.content-title {
   
    text-align: center;
} 

.title {
    font-size: 243px;
    font-weight: bold;
    margin-bottom: 20px;
    
}
