body{
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 20px; 
    font-family: 'Inter', sans-serif;
}

  

.header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
     margin-bottom: 60px;  
}
li{
    list-style: none; 
}
a{
    text-decoration: none; 
    color: #000; 
    font-size: 20px;

}
.menu{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-direction: row;
    gap: 20px;
}

.header p {
    font-size: 20px;
    font-weight: 600;
}

